.game-board {
  margin: 50px auto;
  background: #fff;
  width: 550px;
  height: 444px;
  border: 2px solid black;
}

.game-tile:hover {
  background-color: #f7c11a;
}

.game-score {
  text-align: center;
}

.btn {
  text-align: center;
}
button {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-size: 25px;
}

.display-none {
  display: none;
}

.display {
  display: inline-block;
}

.etile {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.mtile {
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.htile {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  float: left;
  background-color: yellowgreen;
}

img:hover {
  background-color: darkolivegreen;
}
