.game-board {
  margin: 50px auto;
  background: #fff;
  width: 550px;
  height: 444px;
  border: 2px solid black;
}

.game-tile:hover {
  background-color: #f7c11a;
}

.game-score {
  text-align: center;
}

.btn {
  text-align: center;
}
button {
  margin: 0 auto;
  width: 300px;
}

.tile {
}
